@tailwind base;
@tailwind components;
@tailwind utilities;

/* .theme {
   --color-primary: 34, 40, 49;
   --color-secondary: 57, 62, 70;
   --color-tertiary: 0, 173, 181;
   --color-peripheral: 238, 238, 238;
} */

